{# index.njk #}

{# 
 # @since 1.0.0
 # @author: Pascal Meers
 # @package: Studio45
 #}
{% set body_class = "index" %}
{% set page_title = "Starter Theme" %}
{% extends "layout.njk" %}

{% block content %}

<main role="main">
	<h1>Index Page</h1>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Viverra orci sagittis eu volutpat. Dui faucibus in ornare quam viverra orci sagittis.
	</p>
	
</main>

{% endblock %}